.intro {
  background-color: #0e0e0e;
  padding-top: 3.2rem;
  padding-bottom: 4rem;

  background-image: url(../../images/intro-img.png);
  background-repeat: no-repeat;
  background-size: 56.8rem 57.7rem;
  background-position: bottom 0 right 12rem;

  @include respond(phones) {
    background-position: center center;
  }

  &__main {
    @include respond(tab-port) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-text-1 {
      font-size: 1.4rem;
      line-height: 1.9rem;
      letter-spacing: 1rem;
      text-transform: uppercase;
      color: $color-white;
      opacity: 0.5;
      margin-top: 12.8rem;

      @include respond(tab-port) {
        text-align: center;
      }
    }

    &-heading {
      width: 39.6rem;
      font-weight: bold;
      font-size: 5.6rem;
      line-height: 5.8rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $color-white;

      margin-bottom: 0;
      margin-top: 0;
      margin-top: 2.4rem;

      @include respond(tab-port) {
        text-align: center;
      }

      @include respond(phones) {
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 1.28571px;
      }
    }

    &-text-2 {
      width: 34.9rem;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2.5rem;
      color: $color-white;
      margin-top: 2.4rem;

      @include respond(tab-port) {
        text-align: center;
      }

      @include respond(phones) {
        opacity: 0.75;
        width: 32.8rem;
      }
    }

    &-link {
      @include respond(phones) {
        margin-top: 2.8em;
      }
    }
  }
}
.nav {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  list-style: none;

  @include respond(tab-port) {
    display: none;
  }

  @include respond(phones) {
    flex-direction: column;
    align-items: center;
  }

  &__item {
    @include respond(phones) {
      
      margin-bottom: 2rem;
    }
  }

  &__link {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 2.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color-white;
    margin-left: 3.4rem;

    @include respond(phones) {
      margin-left: 0;
     
    }

    &:hover,
    &:active {
      color: $color-4a;
    }
  }
  &--link {
    margin-left: 0;
  }

  &--1 {
    @include respond(tab-port) {
      margin-top: 3.2rem;
      display: inline-block;
      display: flex;
    }
  }
}

.header__line {
  color: $color-white;
  opacity: 0.2;
  margin-top: 3.6rem;
  margin-bottom: 4rem;
}

.shops {
  margin-top: 11.5rem;
  &__cards {
    display: flex;
    justify-content: space-between;

    @include respond(phones) {
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    &-card {
      width: 35rem;

      padding-bottom: 3rem;
      background: $color-f1;
      border-radius: 8px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include respond(tab-port) {
        width: 22.3rem;
      }

      @include respond(phones) {
        width: 100%;
        margin-bottom: 8.4em;
      }

      &-img {
        margin-top: -8rem;
        margin-bottom: 3.6rem;
      }

      &-heading {
        font-size: 1.8rem;
        line-height: 2.5rem;
        text-align: center;
        letter-spacing: 1.28571px;
        text-transform: uppercase;
        margin-bottom: 0.1em 0.5rem;
        color: $color-black;

        @include respond(tab-port) {
          margin-bottom: 1.7rem;
        }
      }

      &-link {
        text-decoration: none;
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $color-black;
        opacity: 0.5;
        text-align: center;

        display: flex;
        align-items: center;

        &::after {
          content: "";
          display: inline-block;
          width: 5px;
          height: 10px;
          background-image: url(../../images/arrow-right.png);
          background-size: contain;
          background-repeat: no-repeat;
          margin-left: 1.3rem;
        }

        &:hover,
        &:active {
          color: $color-4a;
        }
      }
    }
  }
}

.speaker {
  & .container {
    width: 100%;
    min-height: 56rem;
    background-color: $color-4a;
    border-radius: 8px;
    margin-top: 16.8rem;

    background-image: url(../../images/speaker-zx9-1.png);
    background-size: 40.3rem 45.4rem;
    background-repeat: no-repeat;
    background-position: bottom 0 left 11.7rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include respond(tab-port) {
      background-size: 19.7rem 23.7rem;
      background-position: top 5.2rem center;
    }
  }

  &__main {
    width: 49.3rem;

    @include respond(phones) {
      width: 100%;
    }

    @include respond(tab-port) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 35.3rem;
      padding-bottom: 6.4rem;
    }

    @include respond(phones) {
      align-items: center;
    }

    &-heading {
      width: 26.1rem;
      font-size: 5.6rem;
      line-height: 5.8rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $color-white;

      @include respond(tab-port) {
        text-align: center;
        margin-top: 6.4rem;
      }
    }

    &-text {
      width: 34.9rem;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2.5rem;
      color: $color-white;
      opacity: 0.75;
      margin-top: 2.4rem;
      margin-bottom: 4rem;

      @include respond(tab-port) {
        text-align: center;
      }
    }
  }
}

.speaker-product {
  margin-top: 4.6rem;

  & .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 32rem;
    width: 110rem;
    background-image: url(../../images/speaker-zx7.png);
    background-repeat: no-repeat;

    @include respond(tab-port) {
      width: 100%;
      background-size: contain;
      padding-bottom: 10.1rem;
    }

    @include respond(phones) {
      background-size: 100% 32rem;
      justify-content: flex-start;
    }
  }

  &__main {
    margin-left: 9.5em;

    @include respond(tab-port) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &-heading {
      font-size: 2.8rem;
      line-height: 3.8rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 3.2rem;
    }
  }
}

.earphones-product {
  margin-top: 4.8rem;
  & .container {
    display: flex;
    justify-content: space-between;

    @include respond(phones) {
      justify-content: center;
      flex-direction: column;
    }
  }

  &__img {
    @include respond(tab-port) {
      width: 33.9rem;
    }

    @include respond(phones) {
      width: 35.7rem;
      height: 20rem;
      margin-bottom: 2.4rem;
    }
  }

  &__main {
    width: 54rem;
    padding: 10.1rem 0 10.1rem 9.5rem;
    background: $color-f1;
    border-radius: 8px;

    @include respond(phones) {
      width: 100%;
      padding: 4.1rem 5.8rem 4.1rem 2.4rem;
    }

    &-heading {
      font-size: 2.8rem;
      line-height: 3.8rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $color-black;
      margin-bottom: 3.2rem;
    }
  }
}

.audio-gear {
  margin-top: 20rem;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port) {
      justify-content: center;
      flex-direction: column-reverse;
    }
  }

  &__img {
    @include respond(tab-port) {
      width: 68.9rem;
      height: 30rem;
    }

    @include respond(phones) {
      width: 32.7rem;
      height: 30rem;
    }
  }

  &__main {
    &-heading {
      width: 44rem;
      font-size: 4rem;
      line-height: 4.4rem;
      letter-spacing: 1.42857px;
      text-transform: uppercase;
      color: $color-black;
      margin-bottom: 3.2rem;

      &-color {
        color: $color-4a;
      }

      @include respond(tab-port) {
        width: 57rem;
        text-align: center;
        margin-top: 6.3rem;
      }

      @include respond(phones) {
        font-size: 2.8rem;
        line-height: 3.8rem;
        letter-spacing: 1px;
        width: 32.7rem;
      }
    }

    &-text {
      width: 44.5rem;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2.5rem;
      color: $color-black;
      opacity: 0.5;

      @include respond(tab-port) {
        width: 57rem;
        text-align: center;
      }

      @include respond(phones) {
        width: 32.7rem;
      }
    }
  }
}
